    *{
      font-family: 'Segoe UI';
    }
    
    body{
      background-color: #ffffee;
    }

    .container-md {
      margin-top: 3% !important;
      padding-bottom: 15px;
      background: rgb(255, 255, 255) !important;
      border: 1px solid rgba(255, 255, 255, 0.8) !important;
      border-radius: 5px !important;
      box-shadow: 0 0px 15px rgba(0, 0, 0, 0.2),
                  inset 0 4px 20px rgba(255, 255, 255, 0.3) !important;
    }

    h1 {
      font-weight: 600 !important;
      font-size: 50px !important;
    }

    h2 {
      font-size: 40px;
      padding-top: 2%;
      padding-left: 1%;
      font-weight: 600;
    }

    h3 {
      padding-bottom: 1%;
      padding-left: 1%;
      font-weight: 600;
      font-size: 20px;
      margin-bottom: 2%;
    }

    h4 {
      font-size: 35px;
      font-weight: 600;
    }

    .h4-small {
      zoom: 80%;
    }

    p {
      font-size: 20px;
    }

    .superTitle{
        font-size: 96px !important;
        font-weight: lighter !important;
        margin: 10px;
    }

    .content-section{
    display:flex;
    align-items:flex-start;
    gap:1.25rem;
    flex-wrap:wrap;
    }

    .topbar {
    width: 95%;
    margin: 25px auto 0 auto;
    background: #4a4a4a;
    padding: 24px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
  }

.topbar-left {
  display: flex;
  align-items: center;
  gap: 40px;
}

.brand {
  color: white;
  font-weight: 600;
  font-size: 23px;
}

.topbar-menu {
  display: flex;
  gap: 35px;
}

.topbar-menu a {
  color: white;
  text-decoration: none;
  font-size: 23px;
  opacity: 0.7;
  transition: 0.25s;
}

.topbar-menu a:hover {
  opacity: 1;
}

.topbar-menu .active {
  font-weight: 600;
  opacity: 1;
}


.topbar-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.username {
  font-size: 18px;
  color: white;
}

.avatar {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  object-fit: cover;
}
