/* Page Ad-Hoc Style*/

.eventContainer{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    width: 100%;
    margin-top: 20px;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }