  /*interCSS - for myOrganized by inter marK Systems V.B. 2025*/


  /*Page Style*/
  
  body{
    background-color: #fffff8;
  }



  /*Typography*/

  *{
    font-family: 'sUI' !important;
  }

  .superTitle {
    font-size: 85px;
    font-weight: 300;
    margin-bottom: -20px;
    color: #404040;
  }

  .subTitle {
    font-size: 48px;
    font-weight: 200;
    color: #878787;
  }

  .metaTag{
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
    color: #FF8C00;
    margin-bottom: -8px;
  }

  .elementTitle{
    font-size: 35px;
    font-weight: 400;
    color: #404040;
    margin-bottom: -8px;
  }

  .elementSubtitle{
    font-size: 20px;
    font-weight: 300;
    color: #404040;
  }

  .elementText{
    font-size: 20px;
    font-weight: normal;
    color: #404040;
  }



  /*Basic Elements*/

  .mainView{
    margin-left: 90px;
    margin-top: 30px;
  }

  .block {
    margin-right: 90px;
    background: rgb(255, 255, 255);
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.2),
                inset 0 4px 20px rgba(255, 255, 255, 0.3) !important;
  }

  .navBar {
    width: 95%;
    margin: 25px auto 0 auto;
    background: #4a4a4a;
    padding: 24px 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0,0,0,0.25);
  }

  .spacer-S{
    margin-bottom: 40px;
  }

  .spacer-M{
    margin-bottom: 60px;
  }

  .spacer-L{
    margin-bottom: 80px;
  }



  /*Utility*/

  .keepLine{
    display:flex;
    align-items:flex-start;
    gap:1.25rem;
    flex-wrap:wrap;
  }

  .navBar-L {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .navBar-Brand{
    color: white;
    font-weight: 300;
    font-size: 25px;
  }

  .navBar-Link {
    display: flex;
    gap: 35px;
  }

  .navBar-Link a {
    color: white;
    text-decoration: none;
    font-size: 23px;
    font-weight: 300;
    opacity: 0.7;
    transition: 0.25s;
  }

  .navBar-Link a:hover {
    opacity: 1;
  }

  .navBar-Link .Active {
    font-weight: 400;
    opacity: 1;
  }

  .navBar-R {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .navBar-UsrName {
    font-size: 18px;
    color: white;
  }

  .navBar-Avatar {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    object-fit: cover;
  }
