html,
        body {
            background-color: #fffff8 !important;
            height: 100%;
        }
        
        body {
            display: flex;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #fffff8;
        }

        .btn{
            margin-top: 2%;
            background: #1F2329 !important;
            color: #fff !important;
            border: none !important;
            padding: 8px 20px;
            border-radius: 8px;
            font-weight: 600;
            transition: 0.25s ease;
        }
        .btn:hover,
        .btn:active {
            background: #FFA500 !important;
            color: #000 !important;
        }

        .redirection{
            margin: 5%;
        }
        
        .form-signin {
            max-width: 330px;
            padding: 15px;
        }
        
        .form-signin .form-floating:focus-within {
            z-index: 2;
        }
        
        .form-signin input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
        
        .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
        .card {
            background: #ffffff;
            border-radius: 18px;
            padding: 30px;
            transition: 0.3s ease;
            height: 100%;
        }
        .shadow-soft {
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25), 0 0 6px rgba(0, 0, 0, 0.15), inset 0 0 1px rgba(255, 255, 255, 0.05);
        }